@import "tailwindcss";

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}